
{% extends '/base.html' %}


{% block content %}

<div class="hero min-h-screen bg-base-200">
    <div class="hero-content flex-col lg:flex-row">
      <img src="{{ url_for('static', filename='vein-janus-face.png') }}" class="max-w-sm rounded-lg shadow-2xl" />
      <div>
        <h1 class="text-5xl font-bold"><span class="veintitle">vein</span>: tell what you feel and think</h1>
        <p class="py-6">With the code given to you, you can enter the application anonymously (the code is not tracable to you) 
            and share what you feel and think about your current project(s). We would like to know how things are going as the Team really knows 
            best. But people don't always feel free to share their true opinions. With this application you can. Click on the
            link below to see all stats from all the apps in the system.
        </p>
        <!--input type="text" placeholder="Enter the code here" class="input input-bordered input-info w-full max-w-xs" / -->
        
        <form action="{{ url_for('index') }}" method="POST">
        <div class="form-control">
          <label class="input-group">
            <span>Pending surveys</span>
            <select name="survey_id" class="select select-primary w-full max-w-xs">
              
              {% for survey in pending_surveys %}
                  <option value="{{survey.id}}">{{survey.title}}</option>
              {% endfor %}
            </select>
            <button class="btn btn-primary">Goto survey</button>
          </label>
        </div> 
        </form>  
      </div>
    </div>
   
    <div class="hidden lg:block fixed bottom-0 w-full">
        {%  include 'footer.html' %}
    </div>
  
</div>
<div class="block lg:hidden">
{%  include 'footer.html' %}
</div>

{% endblock %}