<!doctype html>
<html data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Vein</title>
    <script src="https://unpkg.com/htmx.org@1.8.5"
            integrity="sha384-7aHh9lqPYGYZ7sTHvzP1t3BAfLhYSTy9ArHdP3Xsr9/3TlGurYgcPBoFmXX2TX/w"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.50.0/dist/full.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
 <div class="navbar bg-base-100">
        <img src="{{ url_for('static', filename='vein-janus-face.png') }}"
        <a class="btn btn-ghost normal-case text-xl">Vein - give your opinion</a>
 </div>


 {% block content %}{% endblock %}

<div class="card-actions">
    <button class="btn btn-primary">Save</button>
</div>
</body>
</html>